/* Global css styling */
.flip-grid-button {
  color: white;
  background-color: #ca006d;
}

.font-weight-normal {
  font-weight: normal;
}

/* Sign up page styling */
.sign-up-page {
  color: #7b7b7b;
}

  .sign-up-page, .confirmation-page h1 {
    margin-top: 25px;
    color: #3a3a3a;
  }

  .sign-up-page form {
    margin-top: 16px;
  }

  .sign-up-page div {
    text-align: right;
  }

.popover-style, .popover-style div{
  text-align: left !important;
}

/* Confirmation page styling */
.confirmation-page h1 {
  margin-bottom: 16px;
}

.confirmation-page h6 {
  margin-top: 16px;
}

.confirmation-sign-in-button {
  text-align: right;
  margin-top: 64px;
}

/* Header styling */
.navbar-header{
  background-color: #b1005f;
}

  .navbar-header a {
    color: white;
    font-weight: 600;
  }

  /* Bootstrap styling for popover */
  .fade{opacity:0;-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear}.fade.in{opacity:1}.collapse{display:none}.collapse.in{display:block}tr.collapse.in{display:table-row}tbody.collapse.in{display:table-row-group}.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;-webkit-transition-duration:.35s;-o-transition-duration:.35s;transition-duration:.35s;-webkit-transition-property:height,visibility;-o-transition-property:height,visibility;transition-property:height,visibility}.popover{position:absolute;top:0;left:0;z-index:1060;display:none;max-width:276px;padding:1px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;font-style:normal;font-weight:400;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);line-break:auto}.popover.top{margin-top:-10px}.popover.right{margin-left:10px}.popover.bottom{margin-top:10px}.popover.left{margin-left:-10px}.popover-title{padding:8px 14px;margin:0;font-size:14px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0}.popover-content{padding:9px 14px}.popover>.carousel,.carousel-inner{position:relative}.popover>.carousel-inner{width:100%;overflow:hidden}